@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Judson';

    /* -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; */

    -moz-scrollbar-width: none;
    -webkit-scrollbar-width: none;
    -ms-scrollbar-width: none;
    scrollbar-width: none;
    /* cursor: none; */
}

canvas {
    display: block;
    position: absolute;
    z-index: -10;
}

body:before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -2;
    opacity: .2;
    background: url('/webportfolio/images/bg-noise.png') 20px 20px repeat;
    /* background: url('/images/bg-noise.png') 20px 20px repeat; */
    mix-blend-mode: multiply;
}


.space-background {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    overflow: hidden;

    z-index: -1;
    width: 100%;
    height: 100%;
}
.circle {
    width: 100%;
    height: 150%;
    background: radial-gradient(50% 80% at 50% 50%, hsla(0, 0%, 100%, 0) 70%, #272727);
    opacity: .8;
    animation: circle 1s ease 1.5s forwards;
}

:root {
    --primary-color: #E9E9E9;
    --dark-primary-color: #272727;

    --side-width: clamp(200px, 1rem, 1rem);
}

.sidebar {
    padding: 1% 2%;
    width: var(--side-width) ;
    height: 100dvh;
}

.title {
    margin-bottom: 2rem;
    color: var(--primary-color);
}

.status {
    color: green;
}

li {
    margin-bottom: .5rem;
    list-style-type: none;
    padding: .5rem;
}

.top-links a {
    text-decoration: none;
    color: var(--primary-color);
}

.bottom-links i {
    text-align: center;
    width: 1em;
    height: 1rem;
    color: var(--primary-color);
}

h1 {
    font-size: 2.5rem;
    line-height: 3rem;
}

hr {
    margin: 20px 0;
    border-radius: 2px;
    border: 2px solid #4f5f5d;
}


.link-items {
    width: auto;
    height: calc(100% - 90px);

    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.rightbar {
    padding-bottom: 1%;
    min-width: 150px;
    width: var(--side-width);
    height: 100%;

    display: flex;
    justify-content:flex-end;
    flex-direction: column;

    font-size: 15px;
    color: var(--primary-color)
}

.footer-items {
    text-align: center;
}

main {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    height: 100%;

    /* background-color: #272727; */
}

.main-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scroll-snap-type: y mandatory;

    width: 100%;
    height: 100%;
    color: var(--primary-color);
}

#home-container {
    display: flex;
    line-height: 25px;
    scroll-snap-align: start;
    /* top: 0; */
    /* position: sticky; */

    width: 100%;
    height: 100%;
    min-height: 100%;
}

#projects-container {
    display: flex;
    justify-content: center;
    scroll-snap-align:start;
    /* position: sticky; */

    width: 100%;
    height: 100%;
    min-height: 100%;
}

#contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align:start;
    /* position: sticky; */

    width: 100%;
    height: 100%;
    min-height: 100%;
}

.home {
    padding: 20% 10%;
}

.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    overflow-y: scroll;
    padding: 10%;
    min-width: 100%;
    min-height: 100%;
}

.grid-col-span-2 {
    grid-column: span 2;
}

.text-tiny {
    font-size:x-small;
    font-family: 'Poppins';
    margin-top: 10px;
}

.p-5 {
    padding: 10px;
}

.text-u {
    text-decoration: none;
    transition-delay:  299ms;
}

.card-1 {
    text-decoration: none;
    /* background: url('/images/pj-1.png'); */
    background: url('/webportfolio/images/pj-1.png');
    background-position: center;
    background-repeat: no-repeat;
}

.project-title, .project-title span {
    height: auto;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 2rem;
    color: #ad8112;
    transition: all 300ms ease-in;
    transition-delay: 300ms;
}

.project-subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    font-size: small;
    color: transparent;
    transition: all 300ms ease-in;
    transition-delay: 500ms;
}

.c-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #373737;
    width: 100%;
    height: 100%;
    transition: all 300ms ease-in;
}

.card-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: #37bc9b;
    font-family: 'Poppins';
    font-size: 1.5rem;
    color: aliceblue;
    text-decoration: none;
}
.card-2 span {
    font-family: 'Poppins';
    font-weight: 100;
    transition: all 300ms ease-out;
    transition-delay: 350ms;
}

.card-1:hover {
    .c-1 {
        background-color: transparent;
        width: 100%;
    }
    .project-subtitle {
        color: #E9E9E9;
    }
    .project-title span {
        color: #E9E9E9;
        font-size: 1.9rem;
    }
}

.card-2:hover {
    span {
        font-weight:bolder;
    }
    .text-u {
        text-decoration: underline;
    }
}

.card-bg {
    background: #272727;
}
.card {
    width: auto;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: .5s;
}

.card:hover {
    transform: scale(1.005);
    transition: .5s;
    -webkit-box-shadow: 0px 1px 20px 3px rgba(0,0,0,0.51);
    -moz-box-shadow: 0px 1px 20px 3px rgba(0,0,0,0.51);
    box-shadow: 0px 1px 20px 3px rgba(0,0,0,0.51);
}

.card:nth-child(3) {
    grid-row-start: 2;
    grid-row-end: 4 ;
}

/*768px*/
@media only screen and (max-width: 900px) {
    .title {
        margin: 0;
    }
    .link-items {
        display: none;
    }
    .sidebar, .rightbar {
        width: auto;
        height: auto;
    }
    main {
        flex-direction: column;
    }
    .projects {
        display: grid;
        grid-template-columns: 1fr;
        gap: .5rem;

        width: 60dvw;
        height: 80dvh;
    }
    .grid-col-span-2 {
        grid-column: 1;
    }
    .card {
        height: 20rem;
    }
}
